.paperGrid {
  display: flex;
  height: inherit;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}
.paper {
  height: 100%;
  width: 100%;
  margin-bottom: 5rem !important;
}
.cardGrid {
  flex-wrap: nowrap !important;
  flex-direction: column !important;
  align-items: center;
  margin: 0 !important;
  width: 100% !important;
}
.imgGrip {
  padding: 16px;
  width: 100% !important;
}
.infoGrip {
  margin: 0 !important;
  width: 100% !important;
  gap: 2rem;
}
.infoGripGrip {
  padding: 0 !important;
  display: flex;
  flex-direction: column !important;
  gap: 1rem;
}
.container {
  padding: 5% !important;
  gap: 2rem;
}
.buttons1 {
  gap: 1rem;
  padding: 0 !important;
  flex-wrap: nowrap !important;
  flex-direction: column;
}
.buttons2 {
  flex-wrap: nowrap !important;
  flex-direction: row;
}
.buttonsAdd {
  min-width: 36.5px !important;
  height: 36.5px;
}
